# Python
__pycache__/
*.pyc
*.pyo

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/

# Native
libs/
jni/*.o
jni/*.so

# Maden
*.ll
*.bc
*.o

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml

# Artifacts
*.apk
*.aab
